* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lato',Helvetica,Arial;
}

.area-menu {
    height: 100px;
    background-color: #32a345;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.area1 img {
    width: 50px;
}

.area1 {
    display: flex;
    align-items: center;
}

.area1 a {
    text-decoration: none;
}

.area1 h1 {
    margin-left: 15px;
    font-family:'Hepta Slab', Helvetica, Arial;
    color: #FFF;
}

.menu-mobile {
    display: none;
    width: 35px;
    height: 35px;
}

.menu {
    margin-right: 30px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
}

.menu li {
    color: #FFF;
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #fab427;
    font-size: 15px;
}

.menu li:hover {
    border-bottom: 2px solid #a17600;
}

.stuff {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    margin-top: 120px;
}

.left-stuff{
    margin-top: 60px;
    margin-left: 70px;
}

.titulo h2 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-top: -10px;
}

.titulo p{
    font-size: 45px;
    letter-spacing: 1.5px;
}

.desc p {
    margin-top: 30px;
    width: 520px;
    font-size: 18px;
    color: #8d8d8d;
    letter-spacing: 1px;
    line-height: 35px;
}

.left-stuff button {
    padding: 15px 80px;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    background-color: #fab427;
    color: #FFF;
    text-transform: uppercase;
    vertical-align: center;
    cursor: pointer;
    font-size: 18px;
}

.right-stuff img {
    width: 620px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #8d8d8d;
}

footer a {
    margin-left: 3px;
    color: #8d8d8d;
}


@media (max-width:850px) {
    
    header {
        overflow: hidden;
    }
    
    .area-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .area1 h1 {
       font-size: 30px;
    }
   
    .stuff {
        display: flex;
        flex-direction: column;
        place-items: center;
        margin-top: 80px;
    }

    .left-stuff {
        margin-left: 0;
    }

    .titulo h2 {
        font-size: 80px;
        max-width: 100vw;
    }

    .titulo p {
        font-size: 55px;
        max-width: 100vw;
    }

    .desc p {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 1.2px;
        max-width: 100vw;
    }

    .left-stuff button {
        padding: 25px 80px;
    }

    .right-stuff {
        justify-content: center;
       margin-top: 30px;
    }

    footer {
        margin-bottom: 20px;
    }
}


@media (max-width:650px) {

    header {
        overflow: hidden;
    }
    
    .area-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .area1 h1 {
       font-size: 25px;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .stuff {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .left-stuff {
        justify-content: center;
        margin-left: 40px;
    }

    .titulo h2 {
        font-size: 60px;
        max-width: 80vw;
    }

    .titulo p {
        font-size: 35px;
        max-width: 80vw;
    }

    .desc p {
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 1.2px;
        max-width: 80vw;
    }

    .left-stuff button {
        padding: 20px 50px;
    }

    .right-stuff {
        justify-content: center;
       margin-top: 30px;
    }

    footer {
        margin-bottom: 20px;
    }

}

@media (max-width: 450px) {
 
    header {
        overflow: hidden;
    }
    
    .area-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .area1 h1 {
       font-size: 25px;
    }

    .menu {
        display: none;
    }

    .stuff {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .left-stuff {
        justify-content: center;
        margin-left: 20px;
    }

    .titulo h2 {
        font-size: 40px;
    }

    .titulo p {
        font-size: 25px;
    }

    .desc p {
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 1.2px;
        max-width: 90vw;
    }

    .left-stuff button {
        padding: 20px 50px;
    }

    .right-stuff {
       margin-top: 30px;
    }

    .right-stuff img {
        width: 450px;
    }

    footer {
        margin-bottom: 20px;
    }

}